graft src/priority
graft docs
graft test
graft visualizer
graft examples
prune docs/build
include README.rst LICENSE CHANGELOG.rst CONTRIBUTORS.rst tox.ini
global-exclude *.pyc *.pyo *.swo *.swp *.map *.yml *.DS_Store
