graft priority
graft docs
graft test
graft visualizer
graft examples
prune docs/build
recursive-include *.py
include README.rst LICENSE CONTRIBUTORS.rst HISTORY.rst tox.ini Makefile
global-exclude *.pyc *.pyo *.swo *.swp *.map *.yml *.DS_Store
